{{ define "main" }}

<article class="article container">

  <header class="article-header">

    {{ with .Params.category }}
      <span class="badge">
        {{ . }}
      </span>
    {{ end }}

    <h1>
      {{ .Title }}
    </h1>

    {{ with .Description }}

      <p class="article-lead">
        {{ . }}
      </p>

    {{ end }}

    <div class="article-meta">

      <span class="article-date">
        Last Updated:
        {{ .Date.Format "January 2, 2006" }}
      </span>

      <br>

      {{ with .Params.author }}

        <span class="article-author">
          Author: {{ . }}
        </span>

      {{ end }}

    </div>

  </header>


  {{ if eq .Section "builds" }}

    <div class="build-stats">

      <!-- Category -->
      {{ with .Params.categories }}

      <div>

        <span>
          Category
        </span>

        <strong>
          {{ index . 0 }}
        </strong>

      </div>

      {{ end }}


      <!-- Build Type -->
      {{ with .Params.build_type }}

      <div>

        <span>
          Build Type
        </span>

        <strong>
          {{ . }}
        </strong>

      </div>

      {{ end }}


      <!-- Investment -->
      {{ with .Params.investment }}

      <div>

        <span>
          Investment
        </span>

        <strong>
          {{ . }}
        </strong>

        <small class="rating">

          {{ if eq $.Params.investment_rating 1 }}
            ◆ ◇ ◇ ◇ ◇
          {{ else if eq $.Params.investment_rating 2 }}
            ◆ ◆ ◇ ◇ ◇
          {{ else if eq $.Params.investment_rating 3 }}
            ◆ ◆ ◆ ◇ ◇
          {{ else if eq $.Params.investment_rating 4 }}
            ◆ ◆ ◆ ◆ ◇
          {{ else if eq $.Params.investment_rating 5 }}
            ◆ ◆ ◆ ◆ ◆
          {{ end }}

        </small>

      </div>

      {{ end }}


      <!-- Chain Links -->
      {{ with .Params.links }}

      <div>

        <span>
          Chain Links
        </span>

        <strong>
          {{ . }}
        </strong>

        <small class="rating">

          {{ if eq $.Params.links_rating 1 }}
            ◆ ◇ ◇ ◇ ◇
          {{ else if eq $.Params.links_rating 2 }}
            ◆ ◆ ◇ ◇ ◇
          {{ else if eq $.Params.links_rating 3 }}
            ◆ ◆ ◆ ◇ ◇
          {{ else if eq $.Params.links_rating 4 }}
            ◆ ◆ ◆ ◆ ◇
          {{ else if eq $.Params.links_rating 5 }}
            ◆ ◆ ◆ ◆ ◆
          {{ end }}

        </small>

      </div>

      {{ end }}


      <!-- Difficulty -->
      {{ with .Params.difficulty }}

      <div>

        <span>
          Difficulty
        </span>

        <strong>
          {{ . }}
        </strong>

      </div>

      {{ end }}

    </div>


    <!-- Skills -->
    {{ with .Params.skills }}

    <div class="skill-list">

      {{ range . }}

        <span class="tag">
          {{ . }}
        </span>

      {{ end }}

    </div>

    {{ end }}

  {{ end }}


  <div class="prose">

    {{ .Content }}

  </div>


  {{ with .Params.tags }}

  <footer class="article-tags">

    {{ range . }}

      <a
        class="tag"
        href="{{ "tags/" | relURL }}{{ . | urlize }}/"
      >
        #{{ . }}
      </a>

    {{ end }}

  </footer>

  {{ end }}

</article>

{{ end }}
